@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideInFromTop {
  animation: slideInFromTop 0.6s ease-out forwards;
}

.authContainer {
  position: relative;
  background: rgba(10, 10, 10, 0.85); /* gần như đen */
  backdrop-filter: blur(6px);
  border: 1px solid rgba(30, 41, 59, 0.4); /* slate-800 */
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  height: 520px;
  min-height: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signInContainer {
  left: 0;
  width: 40%;
  z-index: 2;
}

.signUpContainer {
  left: 0;
  width: 40%;
  opacity: 0;
  z-index: 1;
}

.authContainer.rightPanelActive .signInContainer {
  transform: translateX(150%);
  opacity: 0;
}

.authContainer.rightPanelActive .signUpContainer {
  transform: translateX(150%);
  opacity: 1;
  z-index: 5;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.authContainer.rightPanelActive .overlayContainer {
  transform: translateX(-66.667%);
}

.overlay {
  background: linear-gradient(
    135deg,
    #2f2f2fff 0%,
    #000000ff 100%
  ); /* slate-800 → slate-900 */
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.authContainer.rightPanelActive .overlay {
  transform: translateX(50%);
}

.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transition: transform 0.6s ease-in-out;
}

.overlayLeft {
  transform: translateX(-20%);
}

.authContainer.rightPanelActive .overlayLeft {
  transform: translateX(0);
}

.overlayRight {
  right: 0;
  transform: translateX(0);
}

.authContainer.rightPanelActive .overlayRight {
  transform: translateX(20%);
}
.signUpButton,
.signInButton {
  background: linear-gradient(135deg, #2f2f2f 0%, #333333ff 100%);
  transition: all 0.3s ease;
}
.signInButton:hover {
  background: linear-gradient(135deg, #565454ff 0%, #797979ff 100%);
}
.signUpButton:hover {
  background: linear-gradient(135deg, #565454ff 0%, #797979ff 100%);
}
